<main>
    <h1>Lista de productos:</h1>
    {{#each this.payload}}
        <div>
            <h2>{{this.title}}</h2>
            <p>{{this.description}}</p>
            <span>Price: <b>${{this.price}}</b></span>
            <br>
            <span>Stock: {{this.stock}}</span>
            <hr>
        </div>
    {{/each}}
</main>