<main>
    <h1>Registrarse</h1>
    <form action="/api/auth/register" method="post"  class="form">
        <div class="input-row">
            <label for="first_name">Nombre</label>
            <input type="text" name="first_name" id="first_name" required>
        </div class="input-row">
        <div class="input-row">
            <label for="last_name">Apellido</label>
            <input type="text" name="last_name" id="last_name" required>
        </div>
        <div class="input-row">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
        </div>
        <div class="input-row">
            <label for="age">Edad</label>
            <input type="number" name="age" id="age" required>
        </div>
        <div class="input-row">
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" required>
        </div>
        <button type="submit" class="btn-primary">Registrarse</button>
    </form>
</main>
